<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Telekom BP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HowCheck"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".MeetingActivity" />
        <activity android:name=".noResult" />
        <activity android:name=".manyResultsActivity" />
        <activity android:name=".oneResultActivity" />
        <activity android:name=".CheckActivity" />
        <activity android:name=".RoomActivity" />
        <activity android:name=".ReserveActivity" />
        <activity android:name=".reserveConfirmation" />
        <activity
            android:name=".MapActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>